<div class="inscripciones">
    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Universidad</th>
            <th>Titulación</th>
            <th>Email</th>
            <th>Curso</th>
            <th>Editar</th>
            <th>Eliinar</th>
        </tr>

        <tr *ngFor="let item of inscripcionesList">
            <td> {{item.nombre}} </td>
            <td> {{item.apellidos}} </td>
            <td> {{item.universidad}} </td>
            <td> {{item.titulacion}} </td>
            <td> {{item.email}} </td>
            <td> {{item.curso}} </td>
            <td>
                <button mat-mini-fab color="primary" (click)="openEditForm(item)" class="list-button">
                    <mat-icon class="list-icon">edit</mat-icon>
                </button>
            </td>
            <td>
                <button mat-mini-fab color="warn" (click)="delete(item)" class="list-button">
                    <mat-icon class="list-icon">delete</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</div>